VITE_API_URL=https://your-vercel-domain.vercel.app/api
VITE_SUPABASE_URL=https://caylryiloszpdxqqjobe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNheWxyeWlsb3N6cGR4cXFqb2JlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1NjMzMzIsImV4cCI6MjA5NTEzOTMzMn0.MlG0uHwc_UcCVtD1c1UOLDdoK7Z5SPyO6yYGRvt8fls
